---
title: Musicae, find the music you love
---

<!-- banner -->
<div class="container-fluid" id="banner">
	<div class="container text-center">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<h1>La musique par ceux qui la jouent</h1>
				<br>
				<br>
				<%= link_to( "<strong>Ecoutez !<strong>", "#music" , class:'btn-rounded') %>
			</div>
		</div>
	</div>
</div>
 


<!-- Demo -->

<div class="demo" id="music-section">
	<div class="wrapper">
	    <div class="row">
	        <div class="col-xs-6 col-xs-offset-3 text-center">
	            <h2>Découvrez des interprétations</h2>
	        </div>
	    </div>
	</div>
	<div class="box">
	    <div class="row">
	        <div class="wrap-slider">
	        	<!-- Caroussel slick -->
	            <div class="slider">
	                <div class="item">
	                    <div class="row frame-position text-center">
	                    	<%= image_tag("Glenn-Gould.jpg", height:"301px", width:"450px", class:'picture-position') %>
	                    </div>
	                    <div class="row frame-position text-center">
	                    	<iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A1aCpHSQE5ghxibsQ5gkBe0" width="450px" height="100px" frameborder="0" allowtransparency="true"></iframe>
	                        <p class="text-position text-center">Glen Gould joue les variations Goldberg <br> de Bach</p>
	                    </div>
	                </div>

	                <div class="item">
	                    <div class="row frame-position">
	                        <iframe width="450px" height="301px" src="https://www.youtube.com/embed/lLZaupG8WP4?list=PL9t9N1owgSRLAErhETYuuAwWSeCJ85N4o&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	                    </div>

	                    <div class="row">
	                        <p>Glen Gould</p>
	                    </div>
	                </div>
	                <div class="item">
	                    <div class="row frame-position">
	                    	<%= image_tag("perahia.jpg", width:'450px', height:'301px', class:'picture-position') %>
	                    </div>
	                    <div class="row frame-position text-center">
	                    	<iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A2ecywJZyq9FeZWhKUT0kIq" width="450px" height="100px" frameborder="0" allowtransparency="true"></iframe>
	                        <p class="text-position text-center">Murray Perahia</p>
	                    </div>
	                </div>
	                <div class="item">
	                    <div class="row frame-position">
	                    	<%= image_tag("perahia.jpg", width:'450px', height:'301px', class:'picture-position') %>
	                    </div>
	                </div>
	                </div>
	            </div>
	        </div>  
	    </div> 
	</div> 
    
</div> 


<!-- composers -->

<div class="composers" id="composers-section">
	<div class="wrapper">
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1">
				<h3>Compositeurs</h3>
				<br>
				<p>Naviguez dans notre base de donnée de compositeurs. Notre objectif est de vous fournir la liste la plus complète qui soit des grands compositeurs de la musique classique</p>
			</div>
			<div class="col-xs-6">
				<%= image_tag("beethoven.jpg") %>
			</div>
		</div>
	</div>
</div>

<!-- interpreters -->

<div class="interpreters" id="interpreters-section">
	<div class="wrapper">
		<div class="row text-center">
			<div class="col-xs-6">
				<h3>Text</h3>
			</div>
			<div class="col-xs-6">
				<%= image_tag("#") %>
			</div>
		</div>
	</div>	
</div>


<!-- pieces -->

<div class="pieces" id="pieces-section">
	<div class="wrapper">
		<div class="row text-center">
			<div class="col-xs-6">
				<h3>Text</h3>
			</div>
			<div class="col-xs-6">
				<%= image_tag("#") %>
			</div>
		</div>
	</div>
</div>

<!-- aboutus -->

<div class="container-fluid card-content" id="aboutus">
	<div class="row text-center">
		<div class="col-xs-6">
			<h3>Text</h3>
		</div>
		<div class="col-xs-6">
			<%= image_tag("#") %>
		</div>
	</div>
</div>

		



<!-- <div id="testimonials">
	<div class="container">
		<div class="row">
			<% data.testimonials.each do |testimonial| %>
				<div class="col-xs-12 col-md-6">
					<div class="testimonial text-center padded">
						<%= image_tag testimonial.image_file, class:'img-circle' %>
						<h3><%= testimonial.name %></h3>
						<p><%= testimonial.content %></p>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div> -->


<!-- Modal -->
<div class="modal fade" id="contactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Your contact information</h4>
      </div>
      <div class="modal-body">
      	<form action="">
      		
      		<div class="row">
		      	<div class="col-xs-6">
		      		<div class="form-group">
			      		<label for="FirstName">First Name</label>
			      		<input type="text" placeholder="Wolfgang Amadeus" class="form-control" id="FirstName">
			      	</div>
		      	</div>

		      	<div class="col-xs-6">
		      		<div class="form-group">
			      		<label for="LastName">Last Name</label>
			      		<input type="text" placeholder="Mozart" class="form-control" id="LastName">
			      	</div>
		      	</div>
		    </div>

			<div class="form-group">
				<label for="Email">Your email</label>
	      		<input type="email" class="form-control" placeholder="richard@strauss.com" id="Email">
	      	</div>

      		<input type="submit" value="Submit" class="btn-rounded">
      	

      	</form>
        
      </div>

    </div>
  </div>
</div>

	


